/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
#company_archive .box_filter {
    max-width: 100%;
}

#company_archive .box_filter .box_filter__options {
    max-width: 100%;
}

#company_archive .box_filter {
    margin-bottom: 30px;
}
#company_archive {
    padding-bottom: 77px;
    padding-top: 64px;
}
/* #company_archive .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
} */
#company_archive .page_title {
    margin-bottom: 39px;
}
#company_archive .page_title svg {
    max-width: 13px;
}
#company_archive .company_result .company_result__select select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: transparent;
    width: 100%;
    white-space: normal;
    color: #01bc75;
    font-weight: 700;
}
#company_archive .company_result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 4px #0c2447;
    padding-bottom: 22px;
    margin-bottom: 64px;
}

#company_archive .company_result .company_result__count {
    margin-right: auto;
    font-size: 14px;
    font-weight: 400;
}

#company_archive .company_result .company_result__count span {
    color: #01bc75;
}

#company_archive .company_result .company_result__select,
#company_archive .company_result .company_result__btn {
    font-size: 14px;
    font-weight: 700;
    color: #01bc75;
    border: solid thin transparent;
    border-radius: 6px;
    background-color: #ebebeb;
    padding: 11px 15px 7px 15px;
    text-decoration: none;
}

#company_archive .company_result .company_result__select:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7.664' viewBox='0 0 10 7.664'%3E%3Cpath id='Path_471' data-name='Path 471' d='M10,0,5,4.643,0,0V3.021L5,7.664l5-4.643Z' transform='translate(0 0)' fill='%230c2447'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    content: "";
    width: 11px;
    height: 7px;
    display: inline-block;
    background-size: contain;
    margin-left: 10px;
}
#company_archive .company_result .company_result__select {
    padding: 12px 11px 11.5px 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 129px;
    width: 100%;
}
#company_archive .company_result .company_result__btn {
    margin-right: 10px;
}
#company_archive .company_item {
    padding: 40.5px 40px 40px 40px;
    border-radius: 12px;
    -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#company_archive .company_item .company_item__contents {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 32px;
}

#company_archive .company_item .company_item__image {
    max-width: 41.7%;
    width: 100%;
}

#company_archive .company_item .company_item__image * {
       display: block;
       aspect-ratio: 4 / 3;
       border-radius: 12px;
       width: 100%;
       max-width: 100%;
       margin: auto;
       height: auto;
       object-fit: cover;
}

#company_archive .company_item .company_item__contents .company_item__name {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #0c2447;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 12px;
}

#company_archive .company_item .company_item__contents .company_item__locations a {
    text-decoration: none;
    font-size: 11px;
    color: #8e8e8e;
    border: solid thin #8e8e8e;
    border-radius: 30px;
    padding: 1px 10.5px;
    margin-right: 4.5px;
    display: inline-block;
}

#company_archive .company_item .company_item__contents .company_item__locations {
    margin-bottom: 32px;
}

#company_archive .company_item .company_item__contents .company_item__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#company_archive .company_item .company_item__contents .company_item__line .company_item__label {
    font-size: 16px;
    font-weight: 700;
}

#company_archive .company_item .company_item__contents .company_item__line .company_item__value {
    font-size: 14px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 32px;
}

#company_archive .company_item .company_item__contents .company_item__line:not(:last-child) {
    margin-bottom: 16px;
}
#company_archive .company_item:not(:last-child) {
    margin-bottom: 21px;
}
#company_archive .company_item:nth-child(3n + 1) {
    padding: 39px 40px 43px 40px;
}
@media (max-width: 1024px) {
    #company_archive .company_item {
        padding: 24px 16px;
    }
    #company_archive .company_item .company_item__contents {
        padding-left: 15px;
    }
}
@media (max-width: 768px) {
    #company_archive .company_result .company_result__select.selected {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }
    main:has(#company_archive) .breacrumb {
        display: none;
    }
    #company_archive .company_result .company_result__select select {
        font-size: 12px;
    }
    #company_archive .page_title {
        font-size: 25px;
        margin-bottom: 30px;
    }

    #company_archive .page_title svg {
        max-width: 10px;
        margin-right: -9px;
    }
    #company_archive .company_result .company_result__select,
    #company_archive .company_result .company_result__btn {
        font-size: 12px;
        min-width: 112px;
        padding: 12px 15px 7px 11px;
    }
   #company_archive .company_item:nth-child(3n + 1),
    #company_archive .company_item {
        padding: 24px 16px 22px 16px;
    }
    #company_archive {
        padding-bottom: 62px;
        padding-top: 48px;
    }

    #company_archive .company_result .company_result__btn {
        padding: 10.3px 13px 10.3px 13px;
    }
    #company_archive .company_result .company_result__select {
        -ms-flex-item-align: start;
            align-self: flex-start;
        padding: 12px 15px 12px 11px;
        max-width: 112px;
    }
    #company_archive .company_result {
        border-bottom: solid 4px #0c2447;
        padding-bottom: 15px;
        margin-bottom: 41px;
    }
    #company_archive .company_item .company_item__contents .company_item__name {
        margin-bottom: 9px;
    }
    #company_archive .company_item:not(:last-child) {
        margin-bottom: 25px;
    }
    #company_archive .company_item:nth-child(3n + 1),
    #company_archive .company_item .company_item__name {
        margin-bottom: 24px;
    }
    #company_archive .pagination {
        margin-top: 50px;
    }
}
@media (max-width: 640px) {
    #company_archive .company_item .company_item__contents .company_item__locations {
        margin-bottom: 20px;
    }
    #company_archive .company_item {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    #company_archive .company_item .company_item__image {
        max-width: 100%;
        margin-bottom: 16px;
    }
    #company_archive .company_item .company_item__contents {
        padding-left: 0;
    }
}
/*upgrade*/
.company_item .company_item__specificskill {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}
/*upgrade*/